body{
    background-color: #7c94c7;
    font-family: 'Oxygen', sans-serif;
}

.wrapper {
}

label, input, textarea, button{
    display: block;
}

textarea {
    width: 400px;
    height: 180px;
}

h1{
    color:white;
}